@bus_major

#S
w_data\[31\]
w_data\[30\]
w_data\[29\]
w_data\[28\]
w_data\[27\]
w_data\[26\]
w_data\[25\]
w_data\[24\]
w_data\[23\]
w_data\[22\]
w_data\[21\]
w_data\[20\]
w_data\[19\]
w_data\[18\]
w_data\[17\]
w_data\[16\]
w_data\[15\]
w_data\[14\]
w_data\[13\]
w_data\[12\]
w_data\[11\]
w_data\[10\]
w_data\[9\]
w_data\[8\]
w_data\[7\]
w_data\[6\]
w_data\[5\]
w_data\[4\]
w_data\[3\]
w_data\[2\]
w_data\[1\]
w_data\[0\]
w_ena
w_addr\[4\]
w_addr\[3\]
w_addr\[2\]
w_addr\[1\]
w_addr\[0\]
ra_addr\[4\]
ra_addr\[3\]
ra_addr\[2\]
ra_addr\[1\]
ra_addr\[0\]
rb_addr\[4\]
rb_addr\[3\]
rb_addr\[2\]
rb_addr\[1\]
rb_addr\[0\]

#E
ra_data\[0\]
rb_data\[0\]
ra_data\[1\]
rb_data\[1\]
ra_data\[2\]
rb_data\[2\]
ra_data\[3\]
rb_data\[3\]
ra_data\[4\]
rb_data\[4\]
ra_data\[5\]
rb_data\[5\]
ra_data\[6\]
rb_data\[6\]
ra_data\[7\]
rb_data\[7\]
ra_data\[8\]
rb_data\[8\]
ra_data\[9\]
rb_data\[9\]
ra_data\[10\]
rb_data\[10\]
ra_data\[11\]
rb_data\[11\]
ra_data\[12\]
rb_data\[12\]
ra_data\[13\]
rb_data\[13\]
ra_data\[14\]
rb_data\[14\]
ra_data\[15\]
rb_data\[15\]
ra_data\[16\]
rb_data\[16\]
ra_data\[17\]
rb_data\[17\]
ra_data\[18\]
rb_data\[18\]
ra_data\[19\]
rb_data\[19\]
ra_data\[20\]
rb_data\[20\]
ra_data\[21\]
rb_data\[21\]
ra_data\[22\]
rb_data\[22\]
ra_data\[23\]
rb_data\[23\]
ra_data\[24\]
rb_data\[24\]
ra_data\[25\]
rb_data\[25\]
ra_data\[26\]
rb_data\[26\]
ra_data\[27\]
rb_data\[27\]
ra_data\[28\]
rb_data\[28\]
ra_data\[29\]
rb_data\[29\]
ra_data\[30\]
rb_data\[30\]
ra_data\[31\]
rb_data\[31\]
clk