@bus_major

#W
RW0_wdata\[0\]
RW0_rdata\[0\]
RW0_wdata\[1\]
RW0_rdata\[1\]
RW0_wdata\[2\]
RW0_rdata\[2\]
RW0_wdata\[3\]
RW0_rdata\[3\]
RW0_wdata\[4\]
RW0_rdata\[4\]
RW0_wdata\[5\]
RW0_rdata\[5\]
RW0_wdata\[6\]
RW0_rdata\[6\]
RW0_wdata\[7\]
RW0_rdata\[7\]
RW0_wdata\[8\]
RW0_rdata\[8\]
RW0_wdata\[9\]
RW0_rdata\[9\]
RW0_wdata\[10\]
RW0_rdata\[10\]
RW0_wdata\[11\]
RW0_rdata\[11\]
RW0_wdata\[12\]
RW0_rdata\[12\]
RW0_wdata\[13\]
RW0_rdata\[13\]
RW0_wdata\[14\]
RW0_rdata\[14\]
RW0_wdata\[15\]
RW0_rdata\[15\]
RW0_clk
RW0_en
RW0_wmode
RW0_wmask.*
RW0_addr.*
RW0_wdata\[16\]
RW0_rdata\[16\]
RW0_wdata\[17\]
RW0_rdata\[17\]
RW0_wdata\[18\]
RW0_rdata\[18\]
RW0_wdata\[19\]
RW0_rdata\[19\]
RW0_wdata\[20\]
RW0_rdata\[20\]
RW0_wdata\[21\]
RW0_rdata\[21\]
RW0_wdata\[22\]
RW0_rdata\[22\]
RW0_wdata\[23\]
RW0_rdata\[23\]
RW0_wdata\[24\]
RW0_rdata\[24\]
RW0_wdata\[25\]
RW0_rdata\[25\]
RW0_wdata\[26\]
RW0_rdata\[26\]
RW0_wdata\[27\]
RW0_rdata\[27\]
RW0_wdata\[28\]
RW0_rdata\[28\]
RW0_wdata\[29\]
RW0_rdata\[29\]
RW0_wdata\[30\]
RW0_rdata\[30\]
RW0_wdata\[31\]
RW0_rdata\[31\]